#detailPageContainer{
    width:95%;
    padding: 1% 5%;
}


#detail-top {
    display:grid;
    grid-template-columns:0.5fr 1fr;
    margin-top: 20px;
}
#detail-top img{ width:270px; }

#detail-top-contents{
    display:grid;
    grid-template-rows: 90% 10%;
}

#dataTable{ height: 300px; }

#dataTable tr{ vertical-align: baseline; }

.detail-section-title{
    margin: 20px 0;
    text-align: center;
    font-weight: 500;
}


#detail-description {
    white-space: pre-line;
    text-align: center;
    line-height: 1.1;
}

#priceLevel{
    /*display:inline-block;*/
    padding-right:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artistList{
    /*display:grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
}
.artistImg{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.artistElem{
    display: inline-block;
    height: 230px;
    width: 180px;
}

.ticketBtn{
    margin: 0 5px;
}

