#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 5px;
}

#footerLogo{
    height: 60px;
    position: relative;
    top: 5px;
}

.footer-title{
    font-weight: 700;
}