.agree-modal{
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 10%;
}

form {
    padding: 10px;
}

#submitBtn{
    margin-left: calc(50% - 65px);
    width: 130px;
}

body{
}

.ok{
    color: #0d6efd;
}
.no{
    color: red;
}