/*** SearchRstTop ************/
#searchRstTop{
    background-color: #bce2fe;
    height: 250px;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
}

#searchRstTopTitle{
    margin-bottom: 15px;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 600;
}


/*** SearchRstMain ************/
#rstNum{
    font-size: 27px;
    font-weight: 600;
}

.rstSimpleContainer{
    padding-left: 5%;
    width: 95%;
    border: none
}

.posterImg, .showTitle{
    cursor: pointer;
}


#rstRoot{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.card-body{
    height: 230px;
}

/** pagination override ************************************************************/
#pagination {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    /*margin-left: 40%;*/
}
.selected{
    background-color: var(--bs-link-color);
    color: var(--bs-tertiary-bg);
    --bs-pagination-hover-color: var(--bs-tertiary-bg);
    --bs-pagination-hover-bg: var(--bs-link-hover-color);
    --bs-pagination-hover-border-color: var(--bs-border-color);
}
/** pagination override end ********************************************************/